body {
    background-color: rgb(255 196 43);
    margin: 40px 40px;
}

.icon {
    font-size: 28px;
    margin: 3px;
}

.header-container {
    display: flex;
    margin-bottom: 54px;
}

.icon-container {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: flex-end;
    margin-right: 20px;
}

.nav-link {
    font-size: 15px;
    ;
}

.first-box {
    background-color: rgb(100 100 100);
    background: radial-gradient(rgb(78, 71, 71) 15%, black 90%)
}

.first-tab {
    color: white !important;
    font-size: 12px;
    padding: 20px 25px;
}

.other-boxes {
    background-color: white;
}

.other-tabs {
    color: black;
    font-size: 12px;
    padding: 20px 25px;
}

.nav {
    background-color: white;
    height: 60px;
}

.other-boxes:hover {
    background: radial-gradient(rgb(78, 71, 71) 15%, black 90%);
}

.other-tabs:hover {
    color: white;
}

.button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.under {
    position: absolute;
    bottom: -55px;
}

.page-1-text {
    width: 262px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.715);
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.page-2-text {
    width: 546px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.715);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

.page-3-text {
    width: 444px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.715);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

.hr {
    color: white;
    margin: 0;
    outline: solid 1px;
    opacity: 1;
}

.middle-hr {
    color: white;
    margin: 0;
    outline: solid 0.25px;
    opacity: 0.15;
}

.uppertext {
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
    transform: scaleY(1.5);
    margin: 0;
}

.lowertext {
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 10px;
    margin: 0;
}

@media (max-width: 960px) {
    .nav {
        display: none;
    }
}